#kalendarz{
	background-color: red;
	width: 400px;
	min-height: 360px;
	box-sizing: border-box;
	font-size: 24px;
}
#kalendarz header{
	background-color: green;
	width: 100%;
	height: 40px;
	font-weight: 900;
}
#kalendarz header span{
	display: inline-block;
	height: 100%;
	width: 308px;
	background-color: pink;
	text-align: center;
	line-height: 170%;
}
#kalendarz header #prev_month,
#kalendarz header #next_month{
	width: 40px;
	box-shadow: 0 0 0 0 black;
	cursor: pointer;
}
#kalendarz header #prev_month:hover,
#kalendarz header #next_month:hover{
	box-shadow: 0 0 10px -2px black;
}
#kalendarz table{
	width: 100%;
	border-collapse: collapse;
}
#kalendarz table tbody tr{
	background-color: green;
}
#kalendarz table tbody tr td{
	width: 57px;
	height: 47px;
	margin: 5px;
	box-sizing: border-box;
	padding: 2px;
}
#kalendarz table tbody tr td span{
	display: block;
	background-color: blue;
	width: 100%;
	height: 100%;
	cursor: pointer;
	box-shadow: 0 0 0 0 black;
	text-align: center;
	line-height: 170%;
}
#kalendarz table tbody tr td span:hover{
	box-shadow: 0 0 10px -2px black;
}