@import url('https://fonts.googleapis.com/css?family=Roboto:300,700&subset=latin-ext');

body{
	background-image: url(giftly.png);
	/*
	========================================================
	This pattern is downloaded from www.subtlepatterns.com 
	If you need more, that's where to get'em.
	========================================================
	*/
}

#box{
	font-family: 'Roboto', sans-serif;
	color: grey;
	font-size: 0;
	position: fixed;
	top: 0; left: 0;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	&>article{
		box-sizing: border-box;
		font-size: 24px;
		display: inline-block;
		margin: 0;
		padding: 0;
		border: none;
		height: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
		border-right: 3px solid grey;
		&::-webkit-scrollbar { 
			display: none; 
		}
		.cat{
			border-collapse: collapse;
			margin: 0 auto;
			margin-top: 15px;
			background-color: rgba(0,0,0,.1);
			tr{
				border-top: 1px solid grey;
				&:last-child,
				&:first-child,
				&:nth-child(2){
					border-top: none;
				}
				&:first-child{
					th{
						text-align: center !important;
						font-weight: 700;
						input{
							text-align: center;
							font-weight: 700;
						}//input END
					}//th END
				}
				th{
					text-align: left;
					font-weight: 400;
				}
				td{
					text-align: right;
				}
				td,th{
					&.noHover{
						cursor: not-allowed;
					}
					margin: 0;
					width: 50%;
					height: 20px;
					padding: 5px 10px;
					font-size: 18px;
					&:nth-child(2){
							border-left: 1px solid grey;
					}
					input{
						font-family: 'Roboto', sans-serif;
						font-size: 18px;
						color: grey;
						margin: 0;
						border: none;
						outline: none;
						width: 100%;
						height: 100%;
						background-color: inherit;
						box-sizing: border-box;
						&.case-name{
							text-align: left;
						}
						&.case-val{
							text-align: right;
						}
						&[type=button]{
							background-color: rgba(0,0,0,.2);
							color: black;
							cursor: pointer;
							&:hover{
								box-shadow: 0 0 10px -5px black;
							}
						}
					}//input END
				}//td,th END
			}//tr END
		}//cat END
		.add-cat{
			padding: 5px;
			box-sizing: border-box;
			text-align: center;
			font-weight: 700;
			opacity: .4;
			border: 3px dashed grey;
			cursor: pointer;
			&:hover{
				opacity: 1;
			border: 3px solid grey;
			}
		}//add-cat END
		
		&:nth-child(3n+1){
			width: 20%;
			.cat{
				width: 80%;
			}
		}
		&:nth-child(3n+2){
			width: 50%;
			.cat{
				width: 40%;
				float: left;
				margin: 20px 6%;
				&:nth-child(2n+0){
					margin-right: 0;
				}
				&:nth-child(2n+1){
					margin-right: 0;
				}
			}
		}
		&:nth-child(3n+3){
			width: 30%;
			border-right: none;
		}
		&>header{
			background-color: rgba(0,0,0,.25);
			width: 100%;
			height: 48px;
			font-weight: 900;
			font-size: 1.5em;
			text-align: left;
			padding-left: 15px;
		}
		&>section{
			width: 100%;
		}
		&>footer{
			display: block;
			position: fixed;
			bottom: 0;
			left: 0;
			box-sizing: border-box;
			text-align: center;
			font-weight: 700;
			font-size: 1.2em;
			border-top: 3px solid grey;
			&.przy-sum{
				left: 0;
				width: 20%;
			}
			&.wyd-sum{
				left: 20%;
				width: 50%;
				&::before{
					text-align: right;
					content: "- ";
				}
			}
			&.ruznica{
				left: 70%;
				width: 30%;
				&::before{
					text-align: right;
					content: "= ";
				}
			}
		}
	}
}